html {
    font-size: 16px;
    font-family: "Open Sans";
}


.header {
    color: #ffffff;
    text-transform: uppercase;
    background: url('../images/bg/headerbg.png') center center;
    background-size: cover;
    background-color: #34495e;
    clip-path: polygon(0 0, 100% 0, 100% 93%, 0% 100%);
    padding: 100px 10px 120px;
    text-align: center;
    
    &-wrap {
        margin: 0 auto;
    }

    &-top {
    }

    &-title {
    }
}
.logo {
    font-family: Montserrat;
    font-size: 45px;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid #ffffff;
        padding: 70px;
        border-radius: 50%;
    }

    &-wrap {
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    margin: 0;

    &_works {
        justify-content: center;
        text-align: center;
    }

    &-wrap {
        padding: 30px;
    }

    &-item {
        position: relative;


        &-just {
            color: #ffffff;
            text-decoration: none;
            display: inline-block;
            margin: 0 20px;
            cursor: pointer;

            &_works {
                color: #0d0d0d;
            }

            &:hover {
                color: #0d0d0d;
                text-decoration: none;
            }
        }

        &:not(:last-child):after {
            content: '||';
            position: absolute;
            top: 50%;
            right: -5px;
            transform: translateY(-50%) rotate(-20deg);
        }

        &_works {
            color: #a6a6a6;

            &:hover .menu-item-just_works{
                color: #f39c12;
            }
        }
    }
}

.title {
    font-size: 45px;
    font-weight: 300;
    line-height: 1.3;

    &-wrap {
        min-height: 200px;
        margin: 210px 0 90px;
    }

    &-strong {
        font-weight: 700;
        font-size: 60px;
        line-height: 1.4;
    }
}
.btn {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Open Sans - Semibold";


    &_orange {
        background-color: #f39c12;
    }

    &_white {
        color: #0d0d0d;
        background-color: #fff;
        border: 2px solid #f39c12;

        &:hover {
            color: #fff;
            background-color: #f39c12;
        }
    }


}
.toggle {
    &_header {
        margin-top: 110px;
    }
    &-item {
        cursor: pointer;
        color: rgba(#fff, 0.5);
        margin: 0 3px;
        &-active {
            color: #fff;
        }
    }
    &_quote{
        margin-top: 25px;
    }
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}